**/packages/
bin/configlet
bin/configlet.exe

### Dart ###
# Directory created by dart tools
/exercises/**/pubspec.lock
.dart_tool/
.packages
.pub/
build/
doc/

# Files created by dart2js
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json

# editor files should go into your personal git ignore file ~/.config/git/ignore
