*.swp
**/packages/
.buildlog
.DS_Store
.project
bin/configlet
bin/configlet.exe


### Dart ###
# Directory created by dart tools
/exercises/**/pubspec.lock
.dart_tool/
.packages
.pub/
build/
doc/

# Files created by dart2js
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json
