name: Links

on:
  pull_request:
    paths:
      - '.github/workflows/links.yml'
      - 'concept/**/*.md'
      - 'concept/**/links.json'
      - 'docs/*.md'
      - 'exercises/**/*.md'
      - 'reference/*.md'
      - '*.md'
      - '**/**/*.md'
      - '**/*.md'

  repository_dispatch:
  workflow_dispatch:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.3.0
        with:
          args: --verbose --no-progress --require-https '**/*.md' '**/*.html'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
