name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    container:
      image:  google/dart:latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: pub get

    - name: Check Stage formatting
      run: pub run bin/check_formatting.dart

    - name: Run tests
      run: pub run test
      
