name: Run Tests

on:
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - 'bin/*.dart'
      - 'exercises/**/*.dart'
      - 'exercises/**/analysis_options.yaml'
      - 'exercises/**/pubspec.yaml'
      - 'lib/*.dart'
      - 'lib/src/*.dart'
      - 'test/*.dart'
      - 'analysis_options.yaml'
      - 'pubspec.*'

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        tag: ['3.2']

    container:
      image:  dart:${{ matrix.tag }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Install dependencies
      run: dart pub get

    - name: Run tests
      run: dart test
