name: Test

on:
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - 'bin/*.dart'
      - 'exercises/**/*.dart'
      - 'exercises/**/analysis_options.yaml'
      - 'exercises/**/pubspec.yaml'
      - 'lib/*.dart'
      - 'lib/src/*.dart'
      - 'test/*.dart'
      - 'analysis_options.yaml'
      - 'pubspec.*'

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        tag: ['2.18']

    container:
      image:  dart:${{ matrix.tag }}

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: dart pub get

    - name: Check Stage formatting
      run: dart run bin/check_formatting.dart

    # We can't check the exercises because they will produce errors since the example files have the solution.
    - name: Analyze Dart code
      run: dart analyze bin/ lib/ test/

    - name: Run tests
      run: dart test
